$icon-font-path: '../fonts/';


@import "bower_components/font-awesome/scss/font-awesome.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


// Vars
$background : #187e83;
$green : #11ba55;
$grey : #777677;
$darkGrey : #777677;

$darkBlack :#1e1e24;
$liteBlack : #292b33;
$accColor : #fac994;
$textColor : #8a8a8a;
$boldText : #444A59;

// Mixin

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}


.animate-if {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -3rem;
}

.animate-if.ng-hide-add-active, .animate-if.ng-hide-remove-active {
  transition:all 1s;
}

.animate-if.ng-show,
.animate-if.ng-hide.ng-hide-active {
  opacity:0;
}

.animate-if.ng-hide,
.animate-if.ng-show.ng-show-active {
  opacity:1;
}

// General styles


body{
  background-color: #e9eaed;
  height: 100%;
  min-height: 100%;
  //overflow: hidden;


}

h1,h2,h3,h4,h5,h6{
  //color:#fff;
  //text-shadow: 0 0 25px rgba(0,0,0,0.3);
}
// button{
//     display: block;
//     margin: 0 auto;
//     background: transparent;
//     border: none;
//     outline: none;
//     color:#fff;
//     font-size: 2.5rem;
//     text-shadow: 0 0 25px rgba(0,0,0,0.5);
// }
.no-shadow{
  text-shadow:none;
}
.half-opacity{
  opacity:0.75;
  transiton:all 0.3s;
  &:hover{
    opacity:1;
  }
}

.button-phased{
  background-color: #50D2C2;
  color: #fff;
  outline: none;
  border-color: #50D2C2;
  &:active{
    background-color:#317F76;
  }
  &:hover{
    color: #fff;
  }
}
.button-phased-wht{
  border:1px solid #fff;
  margin-right:1rem;
  margin-bottom:1rem;
  text-shadow: 0 0 25px rgba(0,0,0,0.5);
  border-radius:0;
  transition:all 0.3s;
  &:hover{
    background:#359C8A;
    border-color:#359C8A;
    color:#fff;
  }
  &:active{
    color:#fff;
  }
}
.button-forgot{
  background-color: #FF4E00;
  color: #fff;
  outline: none;
  border-color: #50D2C2;
  &:active{
    background-color:#317F76;
  }
  &:hover{
    color: #fff;
  }
}

// Main greeting area
.home{
  height:100vh;
}
.feed-holder{
  background-color: rgba(255,255,255,0.5);

}
.feed{
  padding-top: 40px;
  height:100vh;
  width: 100%;
  overflow: scroll;
  &::-webkit-scrollbar { width: 0 !important }

}
.update{
  overflow: auto;
  margin-bottom: 10px;
  img{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 1000px;
  }
  p{
    background: $liteBlack;
    color:#fff;
    font-size: 10px;
    display: inline-block;
    border-radius: 13px;
    padding:5px 16px;
    width: 100%;
    margin: 0;
  }
}
.update-this-user{
  .update-pic-holder,.update-txt-holder{
    float: right;
    img{
      float: right;
    }
  }
  .update-timeago-holder{
    p{
      text-align: left;
    }
  }
  p{
    background: $accColor;
    color: $liteBlack;
  }
}
.update-pic-holder{
  float: left;
  width: 18%;
  display: inline-block;
}
.update-txt-holder{
  float: left;
  width: 80%;
  display: inline-block;
}
.update-timeago-holder{
  p{
    margin: 0;
    padding-top:0;
    padding-left: 0;
    padding-right: 0;
    background: none;
    color:#fff;
    font-size: 10px;
  }
}
.greeting{
  //max-width:60rem;
  margin-top:35vh;
  .greeting-input{
    max-width:60rem;
    display:block;
    margin:0 auto;
  }
  .greeting-selected-cat{
    height:3rem;
    width:3rem;
    border:1px solid #fff;
    position:absolute;
    top:6.2rem;
  }
  h1{
    margin-top: 0;
    margin-bottom: 0.85rem;
    font-size:3em;
  }
  h6{
    margin-top: 0;
    margin-bottom: 2rem;
  }
  h2{
    margin-bottom: 0;
    margin-top: -3.5rem;
  }
  button{
    //width: 1rem;
    i{
      float: left;
    }
    h6{
      display:inline-block;
      float: left;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
  }
  form{
    //margin-bottom:1.5rem;
  }
  input[type="text"]{
    background:rgba(255,255,255,0.5);
    outline:none;
    border: none;

    color:#fff;
    font-size: 1.5em;
    padding:10px 30px;
    font-weight:500;
    line-height: 1.1;
    width:100%;
    transition: all 0.3s;
    margin-bottom: 2rem;

    &::-webkit-input-placeholder{
      color:#fff;
    }
    &:focus{
      background:rgba(255,255,255,1);
      color:#000;
      &::-webkit-input-placeholder{
        color:#555;
      }
    }
  }
  button[type="submit"]{
    //display:none;
    background:transparent;
    outline:none;
    color:#fff;
    border:none;
  }
  p{
      color:#fff;
      text-shadow: 0 0 25px rgba(0,0,0,0.5);
  }

  .lastTask{

  }
}

.tasks{
  max-width: 60rem;
  display: block;
  margin: 0 auto;
  p,a{
    padding: 0 30px;
  }
  .task{
    .task-do{
      margin-left:6px;
    }
    p{
      padding:0;
      margin-left:6px;
      display: inline-block;
    }
  }
  a{
    color:#fff;
    margin-top: 10px;
    &:hover{
      color:#fff;
    }
  }

}
.task-do{
  border: 1px solid #fff;
  border-radius: 1000px;
  height:16px;
  width: 16px;
  display: inline-block;
  margin: none;
}

.team-callToAction{
  //margin-top:35vh;
  cursor:pointer;

}

.element {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;

    position: absolute;
    z-index: 2;
}

//Team
.team{

  background: #084D54;
  // box-shadow: 0 0 25px rgba(0,0,0,0.3);
  // width: 25rem;
  // height:20rem;
  // position: absolute;
  // bottom: 0;
  // right:0;
  // transition: all 0.3s;
  // z-index: 999;

  .header{
    overflow: auto;
    cursor:pointer;
  }
  .team-closeButton{

    margin-left: 1rem;
    position: absolute;
    top: 1.0rem;
    z-index: 99;
    color: #fff;
    cursor: pointer;
  }

  &.expand{
    height:50vh;
    .body{
      overflow:scroll;
      height: 44.5vh;

    }
  }
  &.full{
    height:50vh;
    width: 70rem;
     background: rgba(0,0,0,0.75);
    .body{
      height: 44.5vh;
      width: 25rem;
      overflow:scroll;
      display:inline-block;
      float:left;
    }
  }

  .member{
    &:nth-child(1){
      margin-top:0;
    }
    //margin-top:1.5rem;
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    overflow: auto;
    cursor:pointer;
    background:rgba(80,210,194,0.0);
    transition:all 0.3s;
    img{
      display: inline-block;
      width: 4rem;
      border-radius: 1000px;
      border:1px solid #fff;
      float: left;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    div{
      display: inline-block;
      float: left;
      h5{
        margin-top: 0.25rem;
        margin-bottom: 0rem;
      }
      h6{
        margin-top: 0.35rem;
        margin-bottom: 0rem;
      }
    }
    &.active{
      background:rgba(80,210,194,0.5);
    }
  }

  .selectedUser{
    display:inline-block;
    float:left;
    width: 35rem;
    img{
      border-radius:1000px;
      display:block;
      margin:0 auto;
    }
  }
}
.history{
  .list{
    margin:0;
    padding:0;
    list-style:none;
    height: 15rem;
    overflow: scroll;
    li{
      color: #fff;
      padding:1rem;
    }
    p{
      color:#fff;
      margin:0;
      font-size:1.2rem;

    }
  }
}

.modal{
  h4{
    color:#1D1D26;
  }
  label{
    display:block;
  }
  input[type="email"]{
    width:100%;
    border:none;
    border-bottom:1px solid #1D1D26;
  }
}

.settingsMenu{
  height:100vh;
  width:100%;
  background:#fff;
  display:none;
  z-index:1000;

  ul{
    width:35rem;
    display:block;
    margin:0 auto;
    list-style:none;
  }
  li{
    margin: 1rem 0;
    cursor:pointer;
  }
  button{
    text-shadow: none;
  }

  &.show-settings{
    position:absolute;
    top:0;
    left:0;
    display:block;
  }
}


.new-tooltip + .tooltip > .tooltip-inner {
  background-color: rgba(0,0,0,.5);
  font-size: 14px;
}
.new-tooltip + .tooltip > .tooltip-arrow {
  border-bottom-color:rgba(0,0,0,.5);
}

/* entire container, keeps perspective */
.flip-container {
  position: relative;
}

/* flip the pane when hovered */
.do-the-flip {
  transform: rotateX(-180deg);
}
.flip-container, .front, .back {
  width: 100%;
  height: 30%;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: 100% 19px;
}

/* hide back of pane during swap */
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateX(180deg);
}

.fa-chevron-up {
  color: white;
  padding: 4%;
}
.fa-chevron-down {
  color: white;
  padding: 3% 0 0 4%;
}


@import 'login';
@import 'switchTeam';
@import 'newTeam';


$cta-color: #FF1744;
 // DEFAULT CARD AND ELEMENTS
  //########################################

      // basic card block
      .card {
      will-change: transform;
      margin: 8px;
      position: relative;
      border-radius: 2px;
      overflow:  hidden;
      background-color: #fafafa;
      height: 35%;
      max-width: 50rem;
      margin:0 auto;
      margin-bottom:10px;
      display: block;
      transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

        // hover status
        &:hover {
        cursor: pointer; }
      }

      // default card image element
      .card__image {
      //position: absolute;
      float:left;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repat;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      opacity: 0;
      transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);

          // image overlay
          &:after {
          content: "";
          display: block;
          position: absolute;
          background-color: rgba(0,0,0,0.1);
          top: 0;
          left: 0;
          right: 0;
          transition: all 500ms;
          bottom: 0; }
      }

      .card__titles{
        display:inline-block;
        float:left;
        overflow:auto;
        border-left:5px solid #fff;
        min-width: 60%;
        height:100%;
      }


      // default card title element
      .card__title {
      user-select: none;
      font-size: 20px;
      color: #FFF;
      margin: 0;
      display:block;
      line-height: 30px;
      padding: 0 16px;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000); }


      // default card subtitle element
      .card__subtitle {
      user-select: none;
      text-shadow:none;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #000;
      display:block;
      padding: 0 16px;
      opacity: 0;
      margin-bottom:0;
      line-height:2rem;
      transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
      span{
        //font-style:italic;
        opacity:0.5;
      }
    }


      // default card text element
      .card__text {
      user-select: none;
      font-size: 14px;
      display: block;
      left: 0;
      right: 0;
      top: 100px;
      padding: 16px;
      margin: 0;
      line-height: 1.6;
      position: absolute;
      color: #000;
      overflow: hidden;
      transition: width 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
      transition: delay 0.1s; }


      // default card action bar element
      .card__action-bar {
      user-select: none;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
      padding: 0 8px;
      border-top: 1px solid #E0E0E0;
      box-sizing: border-box;
      height: 52px;
      transition: left 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000); }


      // default card button element
      .card__button {
      outline: none;
      position: relative;
      display: inline-block;
      padding: 0 16px;
      color: #084D54; }


// Small modifier
      .card--small {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      height: 80px;
      min-height: 80px;

          // image element
          .card__image {
          border-radius: 1px 0 0 1px;
          left: 0;
          top: 0;
          width: 88px;
          opacity: 1;
          max-height: 136px;

            // image overlay
            &:after {
            opacity: 0; }
          }

          // title element
          .card__title {
          color: #000;
          left: 88px;
          top: 8px; }


          .card__subtitle {
          opacity: 1;
          left: 88px; }


          // text element
          .card__text {
          top: 30px;
          opacity: 0; }


          // actionbar element
          .card__action-bar {
          left: 88px; }
      }

//phased mods
.card__meta{
  overflow:auto;
  padding-left:16px;
  //padding-right:16px;
  margin-top:0rem;
  display: inline-block;
    float: left;
    width: 22.4%;

  button{
    width:100%;
    text-align:center;
    margin:0;
    border-bottom:1px solid #444;
    border-left:1px solid #444;
    border-radius:0;
    .fa-heart-o{
      color:#444;
      text-shadow:none;


    }
    transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    &:hover{
        content:"\f004";
        color:#f00;
        background:#f00;
      }
  }
}
.card__category {
    width: 50%;
    display: inline-block;
    float: left;
    p{
      display:inline-block;
      //float:left;
      margin-left:0.5rem;
    }
    .fa{
      //float:left;
    }
}
.category__color {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border: 1px solid #000;
    float: left;
}


// This is the more up to date styles Feb 16 2016

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9197a3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9197a3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9197a3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9197a3;
}

.button-phasedFB{
  font-size: 12px;
  line-height: 22px;
  padding: 0 16px;
  vertical-align: baseline;
  background-color: #2fc3b5;

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  position: relative;
  text-align: center;
  border: 1px solid;
  border-color: #2fc3b5 #2AADA1 #29AB9F;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-sizing: content-box;
  border-radius: 2px;
}

.activity__panel{
  //padding-top: 40px;

  header {
    border-bottom: 1px solid #dbd9dd;
    margin-bottom:20px;
    h3{
      text-transform: uppercase;
      color:#2fc2a3;
      font-size: 2rem;
      font-weight: bold;
      span{
        color:#4f5c73;
      }
    }
  }

}

.member__activity{
  overflow: auto;
  display: block;
  padding: 12px;
  width: 496px;
  //margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #fff;
  img,.activity__info{
    display: inline-block;
    float: left;
  }
  .activity__content,.activity__person{
    display: block;
    overflow: auto;
  }
  .activity__person{
    margin-bottom: 11px;
  }
  img{
    //border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-right:8px;
  }

  &:last-child{
    margin-bottom: 0;
  }
}
.activity__info{
  max-width: 90%;
  overflow: auto;
  h5{
    font-weight: bold;
    color:#2fc3b5;
    margin-top: 0;
    margin-bottom: 2px;
  }
  p{
    margin-top: 0;
    font-size: 12px;
    color: #9197a3;
  }
}
.feed__container{
  padding-top: 20px;
  min-height: 85vh;
}
.action__container{
  width: 496px;
  form{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background-color: #fff;
  }
  .status__compose{

    //margin: 0 auto;

    padding: 12px;
    padding-bottom: 0;
  }
  .status__title{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;

  }

  input[type="text"]{
    width: 100%;
    min-height: 69px;
    padding-top: 23px;
    padding-bottom: 13px;
    margin-bottom: 4px;
    color:#141823;
    outline: 0;
    border: none;
    //padding-left: 5.5rem;
    border-top:1px solid #dcdee3;

    &:focus{
      outline: none;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #bdc1c9;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #bdc1c9;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #bdc1c9;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #bdc1c9;
      }
    }
  }
  .status__meta{
    background-color: #fff;
    border-top:1px solid #dcdee3;
    overflow: auto;
    &:after{
      clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    }
  }
  .meta__right{
    float:right;
    padding: 8px;
  }
  .meta__left{
    float:left;
    button{
      float: left;
      height: 40px;
      position: relative;
      width: 40px;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      background: transparent;
      color:#afb3b9;
      &:hover{
        color:#141823;
      }

    }
  }
  // button{
  //   padding: 1rem;
  //   padding-left: 2rem;
  //   padding-right: 2rem;
  //   border: 1px solid #000;
  //   color:#000;
  //   position: absolute;
  //
  // }
  // p{
  //   position: absolute;
  //   right:6rem;
  //   margin-top: -2rem;
  //
  // }
}



.meta__background{
  background: #313848;
  color:#7a8390;
  border-right: 1px solid #000;
  width: 25%;
  max-width: 300px;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px !important;
    padding-right: 15px !important;
}
.meta__panel{
  padding-top: 10px;
  //padding-right: 20px;
  height: 100vh;
  min-height: 800px;


  img{
    max-width: 100%;
  }
  .meta__nav .nav-pills{

    a{
      color:#7a8390;
    }

  }

  .meta__todo{
    //min-height: 25rem;
    //height: 82vh;
    margin-bottom:40px;
    h4{color:#fff;text-transform: uppercase; font-weight: bold;}

    .list-group-item{
      cursor: pointer;
      border-color: #7a8390;
      background-color:#7a8390;
      color: #313848;

    }

  }
  .meta__footer{
    .list-group{
      a{
        text-align: center;
      }
    }

  }
}


//Shadows

.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
