<div id="ngdialog1" class="ngdialog-message">
  <h1 align="center" style="text-shadow: none">Welcome to Phased.io</h1>
  <h5 align="center" style="text-shadow: none">Your team at a glance</h5>
    <p>Heres some content about how phased will work! </p>
  <div class="ngdialog-buttons">
    <button type="button" class="btn btn-success btn-lg" style="color:white" ng-click="closeAll()">
    <img style="width: 20px" src="images/play.svg" />
    </button>
  </div>

  <!--<input type="button" value="OK" ng-click="checkInput() && closeThisDialog('Some value')"/>-->
</div>

<!--<script type="text/ng-template" id="popupTmpl">-->
  <!--<div class="ngdialog-message">-->

    <!--<h1 align="center" style="text-shadow: none">Welcome to Phased.io</h1>-->
    <!--<h5 align="center">Your team at a glance</h5>-->
    <!--<div class="ngdialog-buttons">-->
      <!--<button type="button" class="btn btn-default btn-lg" ng-click="next()">-->
        <!--<img style="width: 20px" src="images/play.svg" />-->
      <!--</button>-->
    <!--</div>-->
    <!--</div>-->
<!--</script>-->
