<div id="ngdialog1" class="ngdialog-message row">
  <div class="col-xs-12">
    <h1 align="center" style="text-shadow: none; font-family: FontAwesome !important;">Your team at a glance</h1>
    <h5 align="center" style="text-shadow: none">Keep track of whats happening on Phased.io</h5>
  </div>

  <div class="gif col-xs-12" >
    <img src="././images/phasedMain.gif" alt="Login">
  </div>
  <div class="col-xs-12">
    <p>By entering status in to the main field, Phased.io can help you keep track of your day to day activity! Your activity is automaticly shared with anyone in your team, helping to keep others in the loop as well.</p>

    <p>Please enter a new task!</p>
  </div>
  
  
  <div class="ngdialog-buttons col-xs-12">
    <button type="button" class="btn btn-block no-shadow button-phased"  ng-click="next()">
      Contiune to Phased.io dashboard
    </button>
  </div>
</div>
