<div id="ngdialog1" class="ngdialog-message row">
  <div class="col-xs-12">
    <h1 align="center" style="text-shadow: none; font-family: FontAwesome !important;">Welcome to Phased.io</h1>
    <h5 align="center" style="text-shadow: none">Your team at a glance</h5>
  </div>

  <div class="gif col-xs-12" >
    <img src="././images/phased.gif" alt="Login">
  </div>
  <div class="col-xs-12">
    <p> We are excited to help you keep track of your work and improve communication and transparency in your organization! </p>

    <p>First choose a team you've been invited to or create a new one! </p>
  </div>
  
  
  <div class="ngdialog-buttons col-xs-12">
    <button type="button" class="btn btn-block no-shadow button-phased"  ng-click="next()">
      Contiune to team selection
    </button>
  </div>
</div>
