<style>
	html {
	  background: url(./images/bg.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
</style>
<div class="container-fluid" >
	<div class="row">
		<div class="col-xs-1 col-xs-offset-11">
			<button class="no-shadow half-opacity" ng-click="showSettings();"><i class="fa fa-cog fa-1x"></i></button>
		</div>
	</div>
	<div class="greeting element row">
		<div class="greeting-task" ng-show="showTaskView">
			<h1 align="center" ng-click="showTaskView = false">{{task}}</h1>
			<h6 align="center" am-time-ago="taskTime"></h6>
		</div>
		<div class="greeting-input" ng-hide="showTaskView">
			<h4>What are you doing now?</h4>
			<form name="taskForm" ng-submit="addTask(taskName)" novalidation>
                <input type="text" ng-model="taskName" ng-trim="false" maxlength="150" placeholder="enter in your status" required>
       			<p>{{150 - taskName.length}} left</p>
       			<input type="submit">

            </form>
            <p ><small ng-show="taskForm.$error.maxlength">Your update is too long!</small>&nbsp;</p>
        </div>

		<div class="col-xs-6 col-xs-offset-3" ng-show="showTaskView">
			<button ng-click="showTaskView = false"><i class="fa fa-plus"></i> <h6>Add new task</h6></button>
		</div>
		<div class="col-xs-12 lastTask" ng-show="!showTaskView" ng-if="task">
			<p><small>Your last task was:</small></p>
			<p><small>{{task}} - <span am-time-ago="taskTime"></span></small></p>
		</div>

	</div>
	<div class="team" ng-class="teamExpander" ng-hide="!team">
		<div class="header" ng-click="openUp('expand')">
			<h4 align="center">{{team}}</h4>
		</div>
		<div class="body">
			<div class="member" ng-repeat="member in teamMembers | orderBy : 'time':true | limitTo : memberLimit" ng-class="{active : member.uid == selected.uid}" ng-click="getSelectedTask(member)">
				<img src="{{member.gravatar}}">
				<div class="info">
					<h5>{{member.name}}</h5>
					<h6>{{member.task | limitTo : 25 }}{{member.task.length > 25 ? '...' : ''}}</h6>
				</div>
			</div>
			<div class="member" ng-click="addMemberModal()">
				<h5 align="center" class="no-shadow"><i class="fa fa-plus"></i> Add member</h5>
			</div>
		</div>

		<div class="selectedUser" ng-hide="!teamExpander.full">
			<div class="row">
				<div class="col-xs-12">
					<img src="{{selected.gravatar}}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h4 align="center">{{selected.task}}</h4>
					<h6 align="center" am-time-ago="selected.time"></h6>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
				<h6 align="center">Past 24 hours</h6>
					<ul class="list history">
				      <li class="item" ng-repeat="task in taskHistory | orderBy : 'time':true">
				        <p>{{task.name}}</p>
				      	<p><small am-time-ago="task.time"></small></p>
				      </li>
				      <li ng-if="taskHistory.length < 1"><p align="center">No updates made in the past 24 hours!</p></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="settingsMenu row" ng-class="{'show-settings' : showsetting}" ng-click="hideSetting()">
	<div class="header">
      <button ng-click="logout()" style="color:#009689; background-color: transparent" class="btn btn-lg pull-right">Log out</button>
      <div style="height:50px"></div>
	</div>

  <div class="col-xs-3">

        <ul>
          <h3 align="center" style="color: #009689">Select team</h3>
          <li ng-repeat="teamr in userTeams track by $index" ng-click="switchTeam(teamr.name)">
            <div align="center">
              <img src="http://assets.tumblr.com/images/default_header/optica_pattern_14_focused_v3.png?_v=8c2d3b00544b7efbc4ac06dc3f80e374" style="height:80px; width: 80px">
              <h5 style="color:black">{{teamr.name}}</h5>
              <!-- <p><i class="fa fa-users"></i> {{teamr.number}} Members</p> -->
            </div>
            <!--<div>-->
              <!--<i class="fa fa-3x fa-arrow-right" style="color:#fff;"></i>-->
            <!--</div>-->
          </li>
          <li>
            <div align="center">
              <img src="./images/+.png" style="height:80px; width: 80px">
              <h5 style="color:black">Create a new Team!</h5>
              <!-- <p><i class="fa fa-users"></i> {{teamr.number}} Members</p> -->
            </div>
          </li>
        </ul>
				<!--<button ng-click="switchTeam()" class="btn btn-primary btn-lg btn-block button-phased">Switch teams</button>-->
	</div>
  <div class = "col-xs-1"></div>
  <div class="col-xs-7">
    <div class = "row">
      <div class="col-xs-4">
        <img style="height: 120px; width: 120px; border-radius: 50%" src="{{currentUser.gravatar}}">

      </div>
      <div class="col-xs-4">


        <input class="" type="file" accept="image/*" capture="camera" id="file-upload">
        <button ng-click="changeImage()" class="btn btn-primary btn-lg btn-block button-phased">Change Image</button>

      </div>
    </div>
    <img style="height: 300; width: 300" class="pano" id="pano" />
    <div class="row">
      <h3 style="color: #009689">Edit Your information:</h3>
      </br>

      <form name="updateForm" ng-submit="updateUser(update)" novalidate>

        <div class="login">
          <div class="item item-input item-stacked-label">
            <label class="input-label" for="name">name</label>
            <input class="loginInput" type="text" id="name" ng-model="update.name">
          </div>
          <div class="item item-input item-stacked-label">
            <label class="input-label" for="email">email</label>
            <input class="loginInput" type="email" id="email" ng-model="update.email">
          </div>
          <div class="item item-input item-stacked-label">
            <label class="input-label" for="oldpassword">old password</label>
            <input class="loginInput" type="password" id='oldpassword' ng-model="update.oldPass" placeholder="">
          </div>
          <div class="item item-input item-stacked-label">
            <label class="input-label" for="newpassword">new password</label>
            <input class="loginInput" type="password" id='newpassword' ng-model="update.newPass" placeholder="">
          </div>
          <div class="item">
            <input type="submit" class="btn btn-primary btn-lg btn-block button-phased" value="Update Account!">
          </div>
        </div>
      </form>


      <!--<button ng-click="saveChange()" class="btn btn-primary btn-lg btn-block button-phased">Save Changes</button>-->

    </div>
  </div>
  <div class="col-xs-1"></div>

</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    <form name="addmember" ng-submit="addMembers(user)" novalidation>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title no-shadow">Add member</h4>
      </div>
      <div class="modal-body">
      	<label for="addEmail">Add by email</label>
       	<input type="email" id="addEmail" ng-model="user.email" placeholder="email">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Add member">
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
